<% provide(:title, 'Home')%>

<p><a href="#" id="myLink">TEST</a></p>

  <div id="map_home"></div>

<script type="text/javascript">
    window.onload(loadScript());
    loadScript();
    $('#myLink').click(function(){ loadScript(); return false; });
</script>