@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 85px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#header_container{
  margin-left: 15px;
  margin-top: 25px;
  height: 70px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  color: #afafaf;
  letter-spacing: -2px;
  margin-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
  color: #fff;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

 /*movie show page*/
.movie_image{
  float: left;
  margin-right: 40px;
  max-height: 170px;
}

#markers_list{
  margin-left: 165px;
  margin-bottom: 20px;
}

#map_home img {
  max-width: none;
}

#map img {
  max-width: none;
}

#map {
  width: 100%;
  position: relative;
  height: 600px;
}

#map_home{
  width: 100%;
  position: absolute;
  min-height: 88%;
  height: auto !important;
  height: 88%;
  margin-top: 11px;
}

#map_home label {
  width: auto; display:inline;
}

#map label {
  width: auto; display:inline;
}

.movie_head{
  min-height: 235px;
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #111111, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#222222));
  background-image: -webkit-linear-gradient(top, #111111, #222222);
  background-image: -o-linear-gradient(top, #111111, #222222);
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #111111;
}

#showhide{
  position: fixed;
  top: 100;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-top: 11px;
  min-height: 12px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #111111, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#222222));
  background-image: -webkit-linear-gradient(top, #111111, #222222);
  background-image: -o-linear-gradient(top, #111111, #222222);
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #111111;
}

#images_footer{
  min-height: 200px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #111111, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#222222));
  background-image: -webkit-linear-gradient(top, #111111, #222222);
  background-image: -o-linear-gradient(top, #111111, #222222);
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #111111;
  text-align: center;
  padding-top: 3px;
}

.showhide_r{
  text-align: right;
  padding-right: 20px;
}

.showhide_l{
  text-align: left;
  padding-left: 20px;
  float: left;
}

.small_title{
  color: #afafaf;
  font-weight: bold;
}

.descr{
  color: #7c7c7c;
}

/* Movies index */

.movies{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.description{
  padding-left: 90px;
}

.MyGradientClass{
    background-image: linear-gradient(#F1F1F1, rgba(236, 236, 236, 0.77));
    background-repeat: no-repeat;
    background-color: rgba(236, 236, 236, 0.77);
}

.form-inline{
  width: 100%;
}

.input-group{
  width: 50%;
  float: left;
  margin-left: 120px;
  margin-right: 50px;
}

.input-group-btn{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-primary{
  font-size: 20px;
}

.nav{
  font-size: 17px;
}

.container{
  margin-top: 15px;
}

/*search autosuggest dropdown*/
.suggestion_box{
  min-height: 50px;
}

.suggest_img{
  width: 4%;
  height: 40px;
  float: left;
  margin-right: 20px;
}

.suggest_name{
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 5px;
  float: left;
  margin-right: 10px;
}

.suggest_year{
  font-size: 17px;
  padding-top: 10px;
  margin-top: 5px;
}