@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 85px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#header_container{
  margin-left: 15px;
  margin-top: 25px;
  height: 60px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
  color: #fff;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

 /*movie show page*/
.movie_image{
  float: left;
  margin-right: 40px;
}

#markers_list{
  margin-left: 165px;
  margin-bottom: 20px;
}

#map_home img {
  max-width: none;
}

#map img {
  max-width: none;
}

#map_container{
  width: 800px;
  margin-left: 75px;
  margin-top: 20px;
}

#map_home{
  width: 100%;
  position: absolute;
  min-height: 89%;
  height: auto !important;
  height: 89%;
}

#map_home label {
  width: auto; display:inline;
}

#map label {
  width: auto; display:inline;
}

#movie_head{
  min-height: 180px;
}

/* Movies index */

.movies{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.description{
  padding-left: 90px;
}

.MyGradientClass{
    background-image: linear-gradient(#F1F1F1, rgba(236, 236, 236, 0.77));
    background-repeat: no-repeat;
    background-color: rgba(236, 236, 236, 0.77);
}
